name: Metrics
on:
  # Actualiza la imagen automáticamente
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: lizsalazar21
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Costa_Rica
          
          # --- CONFIGURACIÓN DE LENGUAJES ---
          plugin_languages: yes
          plugin_languages_indepth: yes 
          plugin_languages_details: bytes-size, percentage
